# Server Port
PORT=5000

# MongoDB Connection String
# For Local MongoDB installation:
MONGODB_URI=mongodb://127.0.0.1:27017/placeonix
# For MongoDB Atlas (Cloud Database):
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/placeonix?retryWrites=true&w=majority

# JWT Authentication Config
JWT_SECRET=placeonix_super_secret_jwt_key_2026
JWT_EXPIRE=7d

# Environment
NODE_ENV=development
